<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <input type="text" id="firstname" v-model="firstname"> 
    <br>
    <input type="text" id="lastname" v-model="lastname">
    <br>
    firstname: {{ firstname }}
    <br>
    lastname: {{ lastname }}
  </div>  
  
  
  <script>

    new Vue({
      el: '#root',
      data: {
        firstname: 'Dan',
        lastname: 'Joe'
      }
    })
  </script>
</body>
</html>